@import "../../static/fonts/fonts.css";

@import "themes";

html,
body {
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-display: swap;
  height: 100%;
  width: 100%;
  // font-size: calc(16px * ((80vw - 700px) / (1600 - 400)));
  // line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px) / (1600 - 300)));
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.2rem;
}

.container,
.container-fluid {
  padding-top: 0px;
  padding-left: 5px;
  padding-right: 5px;
}

.app-container * {
  transition: color 0.45s ease-in-out;
  transition: background 0.45s ease-in-out;
}

.bg-none {
  background: rgba(0, 0, 0, 0) !important;
}

.aurebesh:hover {
  font-family: "Aurebesh", sans-serif;
  font-display: swap;
}

.i-5 {
  text-indent: 5vmin;
}

.jumbotron {
  margin-bottom: 0px;
}

/** Home Page Icon Styling START */
.icons-container a {
  margin: 0 1rem;
}

.icons {
  font-size: 2rem;
  margin: 0.1rem;
  color: $gray-600;
}

.brand-icon {
  font-size: 2.75rem;
  color: $gray-700;
  max-height: 50px;
  &:hover {
    color: $faded-red;
  }
  /*animation: rotation 2s infinite linear;*/
}

@keyframes rotation {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}
/** Home Page Icon Styling END */

.unemployed {
  font-size: 1.35rem;
}

blockquote {
  padding: 1em;
  background-color: grey;
}

/** Youtube Embed **/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}
.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.print-only {
  display: none;
}
.web-only {
  display: block;
}

.badge {
  font-size: 90%;
}

/** DESKTOP RESIZINGS **/

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 1.6rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  .container,
  .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }

  .navbar-brand {
    margin-left: 3rem;
  }
}
