@media print {
  @page {
    size: letter;
  }

  .print-only {
    display: block;
  }
  .web-only {
    display: none;
  }

  main #experience-container section,
  main #languages,
  main #edu-certs > ul,
  main #volunteering > ul,
  main #additional-links > ul {
    opacity: 1;
    margin-top: 0.75rem !important;
  }
  #languages li:nth-child(n + 9) {
    display: none;
  }
  .educert > li > span,
  #volunteering > ul > li > span,
  .educert > li > a {
    font-size: 1rem;
    color: #444;
    font-weight: bold;
  }
  main > div:nth-child(1) > section:nth-child(2),
  #experience-container,
  main > div:nth-child(1) > section:nth-child(2) > h2,
  main > div:nth-child(1) > section:nth-child(2) section,
  main > div:nth-child(1) > section:nth-child(2) section h3,
  main > div:nth-child(1) > section:nth-child(2) section h4 {
    width: auto;
    float: none;
    padding: 0;
    text-align: left;
    left: 0 !important ;
    height: auto;
    position: relative;
  }
  main > div:nth-child(1) > section:nth-child(2) section h4 span {
    display: inline-block;
  }
  main
    > div:nth-child(2)
    > section:nth-child(n + 3)
    > ul
    > li:nth-child(n + 2) {
    margin-top: inherit;
  }
  main > div:nth-child(1) > section:nth-child(2) ul {
    font-size: 1em;
  }
  main > div:nth-child(2) > section > ul > li a {
    color: inherit;
  }
  main > div:nth-child(2) > section > ul {
    padding-left: 0;
  }
  .prev,
  .next {
    display: none !important;
  }
  main {
    background: #fff;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
    margin: 2rem auto;
    padding: 2.75rem;
    position: relative;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    transform: none;
    -webkit-transform: none;
  }

  main::after {
    display: none;
  }

  main section,
  main header {
    height: auto !important;
    background: rgba(255, 255, 255, 0) !important;
    box-shadow: none;
    color: #000;
    margin: auto;
    padding: auto;
  }

  header #objective {
    padding: 0;
  }

  main header::after,
  main section::after {
    display: none;
  }

  h1 {
    margin: 0;
    font-size: 2.5rem;
    line-height: 2rem;
    font-weight: normal;
    color: #000;
    text-align: left;
  }

  h2 {
    color: #47a;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
    margin-top: 1.5rem;
    text-transform: uppercase;
    line-height: 1.2rem;
    height: auto;
    text-align: left;
  }

  h3 {
    color: #111;
    font-size: 1.25rem;
    margin-top: 0rem;
    margin: 0;
    font-weight: normal;
  }

  h3 span.dept {
    color: #aaa;
    display: inline-block;
  }

  h3 span.dept::before {
    content: "";
    border-left: 1px solid #ccc;
    padding-left: 0.4rem;
  }

  h4 {
    margin: 0;
    font-weight: normal;
  }

  h4 span.dates {
    color: #888;
    display: inline-block;
  }

  p {
    font-size: 1rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
  }

  a {
    color: #369;
  }

  a:hover {
    color: #36c;
  }

  time {
    display: inline-block;
    min-width: 2rem;
  }

  address {
    font-style: normal;
    display: block;
  }

  .normal {
    font-weight: normal;
  }

  .position {
    margin-top: 0.75rem;
    transition: opacity 0.7s;
  }

  .no-bullets,
  .no-bullets ul {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    color: #000;
    font-weight: bold;
  }
  .no-bullets ul {
    font-weight: normal;
  }
  .no-bullets span {
    color: #666;
  }

  #contact {
    text-align: right;
    font-size: 0.9rem;
  }

  #phone {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: none !important;
  }

  #location {
    font-size: 1.1rem;
  }

  #languages {
    column-count: 4;
    font-size: 1rem;
  }

  #professional-experience {
    position: relative;
  }

  .educert {
    display: flex;
  }
  .educert li {
    flex: 1;
    align-items: top;
    justify-content: top;
  }

  label {
    cursor: pointer;
  }

  #contact-mini {
    display: flex;
    margin-top: 1rem;
  }

  #contact-mini > div {
    font-size: 0.75rem;
    flex: 1;
  }

  #contact-mini > div:nth-child(2) {
    text-align: center;
    flex: 2;
  }
  #contact-mini > div:last-child {
    text-align: right;
  }

  #contact {
    display: none;
  }

  @media all and (min-width: 630px) {
    main {
      max-width: 600px;
    }
    #contact-mini > div {
      font-size: 1rem;
    }
  }

  @media all and (min-width: 1000px) {
    html,
    body {
      font-size: 16px;
    }
    main {
      max-width: 920px;
      display: flex;
    }
    main > div:first-child {
      flex: 1;
    }
    main > div:last-child {
      width: 21%;
      margin-left: 4%;
    }
    #languages {
      column-count: 1;
    }
    .educert {
      display: block;
    }
    .educert > li:nth-child(n + 2) {
      margin-top: 0.75rem;
    }
    #contact-mini {
      display: none;
    }
    #contact {
      display: block;
    }
    #email,
    #website {
      font-size: 0.9em;
    }
  }

  @media all and (min-width: 1200px) {
    html,
    body {
      font-size: 18px;
    }
    main {
      max-width: 1120px;
    }
    #email,
    #website {
      font-size: 1em !important;
    }
  }
  html,
  body {
    background: #fff;
    font-size: 16px;
    width: 900px;
  }
  a,
  a:visited,
  a:link,
  a:active,
  a:focus,
  #languages label {
    text-decoration: none;
    color: #000;
  }
  main {
    margin: 0;
    max-width: 920px;
    display: flex;
    box-shadow: none;
  }
  main > div:first-child {
    flex: 1;
  }
  main > div:last-child {
    width: 21%;
    margin-left: 4%;
  }
  #languages {
    column-count: 1;
  }
  .educert {
    display: block;
  }
  .educert > li:nth-child(n + 2) {
    margin-top: 0.75rem;
  }
  .position {
    opacity: 1 !important;
  }
  #contact-mini {
    display: none;
  }
  #contact {
    display: block;
  }
}
